.jobToolbar {
  margin: 32px 0px 24px;
  display: flex;
  flex-direction: row;
  width: 100%;
}
.jobToolbar .jobSearch {
  width: 80%;
  border: 1px solid var(--outline-color);
  border-radius: 6px;
  padding: 2px 10px;
  display: flex;
  align-items: center;
  flex: 1;
}

.jobToolbar .jobSearch span {
  align-content: center;
}
.jobToolbar .jobSearch input {
  padding: 10px;
  border: none;
  width: 100%;
  /* text-align: center; */
}
.jobToolbar .jobSort {
  width: 20%;
}
.jobToolbar .jobSort select {
  padding: 10px;
  width: 100%;
  text-align: center;
  border: 1px solid var(--outline-color);
  border-radius: 6px;
}
@media only screen and (max-width: 480px) {
  .jobToolbar {
    flex-direction: column;
  }
  .jobToolbar .jobSearch {
    width: 100%;
  }
  .jobToolbar .jobSort {
    width: 100%;
  }
}
